

body {
  font-family: 'Open Sans', sans-serif;
  color: #3E001F;
}
 !!!!!?????????????????
 p lead {
  font-family: 'Open Sans', sans-serif;
  color: azure;
}
!!!!!????????????????????????????
.picture-sea {
  height: max-content;
width:max-content
object-fit:max-content;
}

.top-container {
  background-color: #C4C1A4;
  position: relative;
  padding-top: 100px;
}
.middle-container {
    background-color: #C4C1A4;
    position: relative;
    padding-top: 50px;
}

.bottom-container {
  background-color: #c2a46d;
  position: relative;
  padding-top: 100px;
}